.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: red;
}

.container:hover{
    background: orange;
}

#id1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
}

*{
    background: wheat;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}